.hero {
    margin-bottom: 24px;
}

.hero__menu {
    display: flex;
    padding-left: 6px;
    gap: 8px;
    margin-bottom: 30px;
}

.hero__menu-container {
    display: flex;
    gap: 4px;
}

.hero__menu-item {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: rgba(51, 51, 51, 0.7);
}

.hero__header {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 48px;
    line-height: 117%;
    color: #333;
    margin-bottom: 32px;
}

.hero__tags {
    display: flex;
    gap: 8px;
}

.hero__tags-item {
    white-space: nowrap;
    border: 1px solid #c1c5cd;
    border-radius: 24px;
    padding: 6px 8px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 143%;
    color: #333;
}

.tags-item_active {
    border: 2px solid #16c8bb;
    border-radius: 24px;
    padding: 6px 8px;
    background: #f9fdfd;
}

.tags-item-smile {
    display: flex;
    gap: 4px;
    justify-content: center;
    align-items: center;
}

.artical-tag-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
}

.artical-tag-container__item {
    align-self: flex-start;
    display: flex;
    gap: 4px;
    border: 1px solid #c1c5cd;
    border-radius: 24px;
    padding: 6px 8px;
    background: rgba(255, 255, 255, 0.7);
}

.hero-article-container {
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
}

.hero-article-container__item {
    max-width: 588px;
}

.picture {
    background-size: contain;
    background-repeat: no-repeat;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.pictire_big {
    width: 588px;
    height: 260px;
}

.picture-left {
    background: url("../images/eggs-pic.png");
}

.picture-right {
    background: url("../images/running-pic.png");
}

.desc {
    padding: 16px;
    border: 1px solid #dedede;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    min-height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.desc__block__header {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 144%;
    color: #333;
    margin-bottom: 4px;
}

.desc__block__author {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #494949;
    margin-bottom: 8px;
}

.desc__block__text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: #333;
}

.desc__date {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #868686;
}

.article-container {
    display: flex;
    flex-flow: row wrap;
    gap: 24px;
    margin-bottom: 56px;
}

.article {
    max-width: 384px;
}

.desc-small {
    padding: 15px;
    border: 1px solid #dedede;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    min-height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.picture_small {
    width: 384px;
    height: 260px;
}

.picture-1 {
    background: url("../images/article-1.png");
}

.picture-2 {
    background: url("../images/article-2.png");
}

.picture-3 {
    background: url("../images/article-3.png");
}

.picture-4 {
    background: url("../images/article-4.png");
}

.picture-5 {
    background: url("../images/article-5.png");
}

.picture-6 {
    background: url("../images/article-6.png");
}

.center-button {
    text-align: center;
}

.load-button {
    border: none;
    border-radius: 4px;
    padding: 12px 16px;
    width: 182px;
    height: 48px;
    background: #35b3a9;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #fff;
    margin-bottom: 96px;
    cursor: pointer;
}

/* article html */
.big-article-container {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dedede;
    margin-bottom: 72px;
}

.big-article-container__left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 690px;
}

.big-article-container__left__header h1 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 48px;
    line-height: 117%;
    color: #333;
    margin-bottom: 16px;
}

.author-date-block {
    display: flex;
    gap: 20px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: #494949;
    margin-bottom: 24px;
}

.big-article-container__left__content {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #333;
    margin-bottom: 24px;
    padding-left: 20px;
}

.toc__list {
    list-style: disc;
}

.toc__list ul {
    list-style: disc;
    margin-top: 4px;
    margin-bottom: 4px;
    padding-left: 24px;
}

.toc__list a {
    color: #3a7ca5;
    text-decoration: underline;
    cursor: pointer;
    font-size: 16px;
}

.toc__list li {
    margin-bottom: 8px;
    font-size: 16px;
}

.toc__list li::marker {
    color: #3ac17e;
}

.big-article-container__left__header3 {
    margin-bottom: 40px;
}

.big-article-container__left__header3 h3 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    color: #333;
    margin-bottom: 16px;
}

.big-article-container__left__header img {
    margin-bottom: 24px;
}

.big-article-container__left__header3__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 144px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #333;
}

.big-article-container__left__quote {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 24px;
    background: #f3f7fe;
    border-radius: 16px;
    padding: 24px;
    max-width: 690px;
    min-height: 162px;
}

.big-article-container__left__quote__text {
    font-family: var(--font-family);
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #333;
}

.big-article-container__left__quote__author {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #333;
}

.big-article-container__left__header-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 24px;
}

.big-article-container__left__header-list__header {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    color: #333;
}

.big-article-container__left__header-list__text {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #333;
}

.big-article-container__left__img-desc {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 24px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.02em;
    color: #868686;
}

.big-article-container__left__text {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #333;
    margin-bottom: 24px;
}

.big-article-container__left__text-centr {
    font-family: var(--font-family);
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #333;
    text-align: center;
    padding: 24px 102px 48px;
    margin-bottom: 24px;
}

.big-article-container__left__img-text {
    display: flex;
    gap: 24px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #333;
    margin-bottom: 24px;
}

.big-article-container__left__exercise {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 24px;
    border-radius: 16px;
    padding: 24px;
    max-width: 690px;
    min-height: 224px;
}

.exercise_color-1 {
    background: #fefaec;
}

.exercise_color-2 {
    background: #fff3eb;
}

.exercise_color-3 {
    background: rgba(3, 178, 165, 0.1);
}

.big-article-container__left__exercise__header {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #333;
}

.big-article-container__left__exercise__text {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #333;
}

.big-article-container__left__img-text-bot-container {
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
}

.img-text-bottom {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.img-text-bottom__desc {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #333;
}

.lightning {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}

.big-article-container__left__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 4px 20px;
    margin-bottom: 48px;
}

.big-article-container__left__tags__item {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: #2963a3;
}

.big-article-container__right {
    width: 282px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.big-article-container__right__card-1 {
    padding: 24px;
    border-radius: 16px;
    background: #e6f0fd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.big-article-container__right__card-1__header {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 133%;
    text-align: center;
    color: #333;
}

.big-article-container__right__card-1__text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    text-align: center;
    color: #333;
}

.big-article-container__right__button {
    border: none;
    border-radius: 4px;
    padding: 12px 16px;
    width: auto;
    height: 48px;
    background: #35b3a9;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #fff;
    cursor: pointer;
}

.big-article-container__right__card-2 {
    padding: 24px 16px 36px;
    box-shadow: 0 30px 50px 0 #eff5fb;
    border: 1px solid #dedede;
    border-radius: 16px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.big-article-container__right__card-2 img {
    width: 120px;
    height: 120px;
}

.big-article-container__right__card-2__info {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.big-article-container__right__card-2__info__about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.big-article-container__right__card-2__info__about__name {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    color: #333;
}

.big-article-container__right__card-2__info__about__prof {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #333;
    margin-bottom: 4px;
}

.big-article-container__right__card-2__info__about__exp {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    color: #a2a7b1;
}

.big-article-container__right__card-2__info__about__exp {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.big-article-container__right__card-2__info__line {
    height: 1px;
    box-shadow: 0 1px 0 0 #dedede;
    background: #fff;
}

.big-article-container__right__card-2__info__desc {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.big-article-container__right__card-2__info__desc__header {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #333;
}

.big-article-container__right__card-2__info__desc__li {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: #333;
}

.big-article-container__right__card-3 img {
    width: 100%;
    height: 292px;
}

.big-article-container__right__card-4 {
    padding: 32px;
    border-radius: 24px;
    background: #fff;
    box-shadow: 0 30px 50px 0 #eff5fb;
    border: 1px solid #dedede;
}

.big-article-container__right__card-4__container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.big-article-container__right__card-4__container__header {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 144%;
    color: #2963a3;
}

.big-article-container__right__card-4__container__desc {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: #011632;
}

.big-article-container__right__card-4__container__price {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    color: #333;
}

.big-article-container__right__card-4__container__button {
    border: none;
    border-radius: 4px;
    padding: 12px 16px;
    width: 108px;
    height: 48px;
    background: #35b3a9;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #fff;
    cursor: pointer;
}

.big-article__problem {
    display: flex;
    flex-direction: row;
    gap: 303px;
    margin-bottom: 108px;
}

.big-article__problem__left {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.big-article__problem__left__wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.big-article__problem__left__header {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 48px;
    line-height: 117%;
    color: #333;
}

.big-article__problem__left__desc {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 144%;
    color: #333;
}

.big-article__problem__left__button {
    border: none;
    border-radius: 4px;
    padding: 20px 24px;
    width: 238px;
    height: 60px;
    background: #16c8bb;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #fff;
    cursor: pointer;
}

@media (max-width: 1320px) {
    .hero__tags {
        flex-wrap: wrap;
    }
    .hero-article-container {
        justify-content: center;
    }
    .hero-article-container__item {
        max-width: 468px;
    }
    .pictire_big {
        width: 468px;
    }
    .article-container {
        justify-content: center;
    }
    .article {
        max-width: 304px;
    }
    .picture_small {
        width: 304px;
        height: 206px;
    }
    .desc-small {
        min-height: 253px;
    }
}

@media (max-width: 1200px) {
    .big-article-container__left__tags {
        display: none;
    }
    .big-article__problem {
        display: none;
    }
    .big-article-container {
        border-bottom: none;
    }
    .big-article-container__right {
        width: 222px;
    }
}

@media (max-width: 1020px) {
    .hero-article-container {
        flex-direction: column;
        align-items: center;
    }
    .hero-article-container__item {
        max-width: 728px;
        height: 599px;
    }
    .pictire_big {
        width: 728px;
        height: 404px;
    }
    .desc {
        min-height: 196px;
    }
    .picture-left {
        background: url("../images/eggs-pic-big.png");
    }
    .picture-right {
        background: url("../images/running-pic-big.png");
    }
    .big-article-container {
        flex-direction: column;
    }
    .big-article-container__right {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 36px 16px;
    }

    .item {
        width: calc(50% - 16px);
    }
}

@media (max-width: 860px) {
    .hero-article-container__item {
        max-width: 374px;
        height: 466px;
    }
    .pictire_big {
        width: 374px;
        height: 206px;
    }
    .desc {
        min-height: 260px;
    }
    .picture-left {
        background: url("../images/eggs-pic-small.png");
    }
    .picture-right {
        background: url("../images/running-pic-small.png");
    }
}

@media (max-width: 760px) {
    .big-article-container__left__header h1 {
        font-size: 32px;
        line-height: 125%;
    }
    .item {
        width: 100%;
    }
    .big-article-container__left__img-text-bot-container {
        flex-direction: column;
    }
    .big-article-container__left__header img {
        width: 374px;
        height: 207px;
    }

    .big-article-container__left__img-desc img {
        width: 374px;
        height: 207px;
    }
    .big-article-container__left__img-text {
        flex-direction: column;
    }
}

@media (max-width: 696px) {
    .hero-article-container__item {
        max-width: 374px;
        height: 462px;
    }
    .pictire_big {
        width: 374px;
        height: 206px;
    }
    .desc {
        min-height: 256px;
        width: 374px;
    }
    .article {
        max-width: 374px;
    }
    .picture_small {
        width: 374px;
        height: 206px;
    }
    .desc-small {
        min-height: 256px;
    }
}
