.hero {
    margin-bottom: 24px;
}

.hero__menu {
    display: flex;
    padding-left: 6px;
    gap: 8px;
    margin-bottom: 30px;
}

.hero__menu-container {
    display: flex;
    gap: 4px;
}

.hero__menu-item {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: rgba(51, 51, 51, 0.7);
}

.hero__header {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 48px;
    line-height: 117%;
    color: #333;
    margin-bottom: 32px;
}

.hero__tags {
    display: flex;
    gap: 8px;
}

.hero__tags-item {
    white-space: nowrap;
    border: 1px solid #c1c5cd;
    border-radius: 24px;
    padding: 6px 8px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 143%;
    color: #333;
}

.tags-item_active {
    border: 2px solid #16c8bb;
    border-radius: 24px;
    padding: 6px 8px;
    background: #f9fdfd;
}

.tags-item-smile {
    display: flex;
    gap: 4px;
    justify-content: center;
    align-items: center;
}

.artical-tag-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
}

.artical-tag-container__item {
    align-self: flex-start;
    display: flex;
    gap: 4px;
    border: 1px solid #c1c5cd;
    border-radius: 24px;
    padding: 6px 8px;
    background: rgba(255, 255, 255, 0.7);
}

.hero-article {
    max-width: 588px;
    max-height: 260px;
}

.hero-article-container {
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
}

.picture {
    width: 588px;
    height: 260px;
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.picture-left {
    background: url("../images/eggs-pic.png");
}

.picture-right {
    background: url("../images/running-pic.png");
}

.desc {
    padding: 16px;
    border: 1px solid #dedede;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    min-height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.desc__block__header {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 144%;
    color: #333;
    margin-bottom: 4px;
}

.desc__block__author {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #494949;
    margin-bottom: 8px;
}

.desc__block__text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: #333;
}

.desc__date {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #868686;
}

.article-container {
    display: flex;
    flex-flow: row wrap;
    gap: 24px;
    margin-bottom: 56px;
}

.article {
    max-width: 384px;
}

.picture-small {
    width: 384px;
    height: 260px;
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.picture-1 {
    background: url("../images/article-1.png");
}

.picture-2 {
    background: url("../images/article-2.png");
}

.picture-3 {
    background: url("../images/article-3.png");
}

.picture-4 {
    background: url("../images/article-4.png");
}

.picture-5 {
    background: url("../images/article-5.png");
}

.picture-6 {
    background: url("../images/article-6.png");
}

.center-button {
    text-align: center;
}

.load-button {
    border: none;
    border-radius: 4px;
    padding: 12px 16px;
    width: 182px;
    height: 48px;
    background: #35b3a9;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #fff;
    margin-bottom: 96px;
}
