/* CSS */

:root {
    --font-family: "Montserrat", sans-serif;
    --second-family: "Open Sans", sans-serif;
}

body {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    padding-left: 0;
}
