:root {
    --font-family: "Montserrat", sans-serif;
    --second-family: "Open Sans", sans-serif;
}

.header {
    border-bottom: 1px solid #eff5fb;
    margin-bottom: 16px;
}

.header__wrapper {
    max-width: 1264px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 32px;
}

.header__menu {
    display: flex;
    gap: 51px;
    align-items: center;
    cursor: pointer;
}

.menu {
    list-style: none;
    display: flex;
    gap: 30px;
}

.menu__item a {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #333;
}

.menu__item:nth-child(6)::after {
    padding-left: 8px;
    content: url("../images/header-shevron.svg");
}

.header__button {
    border-radius: 4px;
    padding: 14px 20px;
    width: 230px;
    height: 48px;
    border-style: none;
    background: #e3f5f5;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #03b2a5;
    cursor: pointer;
}

.header__mobile-menu-button {
    display: none;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}

@media (max-width: 1200px) {
    .header__wrapper {
        max-width: 960px;
    }

    .header__menu {
        gap: 32px;
    }

    .menu {
        gap: 16px;
    }
}

@media (max-width: 1020px) {
    .menu {
        display: none;
    }

    .header__button {
        display: none;
    }

    .header__mobile-menu-button {
        display: block;
    }

    .header__wrapper {
        padding: 18px 20px;
    }
}

@media (max-width: 420px) {
    .header__wrapper {
        padding: 16px 24px;
    }
}

@media (max-width: 340px) {
    .header__wrapper {
        padding: 8px;
    }
}
